extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'HOME'}
block content_block
	section.hero
		.hero_bg 
			img(src="i/hero_bg.jpg", alt="") 
		.section_in 
			.hero_row 
				.hero_title 
					h1 СРОЧНАЯ, ЭФФЕКТИВНАЯ И БЕЗОПАСНАЯ ПОМОЩЬ!
				.hero_btn_link.standart-btn 
					a(href="#") выбрать мага
	section.catalog
		.catalog_bg 
			img(src="i/cat_bg.svg", alt="") 
		.section_in 
			.catalog_main 
				.catalog_title 
					h2 каталог магов
				ul.catalog_grid
					+card({
						title: 'Софья Николаевна',
						vip: true,
						phone: '+7 982-749-49-98',
						img: 'sofia'
					})
					+card({
						title: 'Франческа Вишневская',
						vip: false,
						phone: '+7 939 333 33 90',
						img: 'francheska'
					})
					+card({
						title: 'Людмила',
						vip: false,
						phone: '+7 968 489 05 53',
						img: 'lud'
					})
					+card({
						title: 'Маг Екатерина',
						vip: false,
						phone: '+7 909 633 33 52',
						img: 'katya'
					})
					+card({
						title: 'Гадалка Дина',
						vip: false,
						phone: '+7 961 594 07 71',
						img: 'dina'
					})
					+card({
						title: 'Ася',
						vip: false,
						phone: '+7 962-861-80-47',
						img: 'asya'
					})
					+card({
						title: 'Мария Александровна',
						vip: false,
						phone: '+7 961 594 07 78',
						img: 'maria'
					})
	section.path
		.path_bg 
			img(src="i/path.png", alt="")
		.section_in 
			.path_main 
				.path_title 
					h3 вы на верном пути, если вам нужно:
				ul.path_list 
					each item in ['Узнать свою судьбу и правду о себе и своих близких;', 'Открыть дорогу к счастью и везению;', 'Повлиять на ход событий в любви и семье;', 'Оставить в прошлом хвори и пагубные привычки.', 'Избавиться от негатива и одиночества;', 'Очиститься и защититься от проблем и зла.']
						li.path_item_grid
							.path_item 
								.path_item_icon 
									img(src="i/luna.svg", alt="")
								.path_item_txt 
									p=item
				.path_btn_link.standart-btn
					a(href="#") Выбрать мага 
	section.video
		.section_in 
			.video_main 
				.video_title 
					h4 ВИДЕО-ОТЗЫВЫ О ПОМОЩИ НАШИХ МАСТЕРОВ
				.video_slider_w
					.video_slider_nav 
						.video_slide_prev 
							button(type="button")
								+icon('slider')  
						.video_slide_next
							button(type="button")
								+icon('slider') 
					.video_slider.swiper 
						.swiper-wrapper
							-for(i = 0; i < 3; i++) 
								.swiper-slide 
									.video_slide_w 
										.video_slide
											img(src=`i/video/poster_${i}.jpg`, alt="")
										.video_link 
											a(href="https://www.youtube.com/watch?v=KLYFA-ePqqw" data-fancybox) 
												+icon('play')
									
					.video_pug 
	section.scope 
		.section_in 
			.scope_main
				.scope_title 
					h4 ВОЗМОЖНОСТИ МАГИИ
				ul.scope_list_head 
					-for(i = 0; i < 4; i++)
						- var scopeTitle = ['Предсказания судьбы', 'Чистка и защита от зла', 'Любовные обряды', 'Открытие дорог']
						if i === 0
							li.scope_item(data-tab=`scope${i}` class="active_tab")
								a(href="#")=scopeTitle[i]
						else 
							li.scope_item(data-tab=`scope${i}`)
								a(href="#")=scopeTitle[i]
				ul.scope_list_content 
					-for(i = 0; i < 4; i++)
						- var scopeTitle = ['Предсказания судьбы', 'Чистка и защита от зла', 'Любовные обряды', 'Открытие дорог']
							if i === 0
								li(data-tab=`scope${i}` class="scope_items_body active_tab")
									.scope_item_title 
										h5=scopeTitle[i]
									.scope_item_content 
										p С древних времен люди пытались узнать, что их ждет в будущем. Предсказание и колдовство было не просто утехой обывателей. Великие правители имели придворных магов, медиумов, оракулов, предсказателей, астрологов. Сильные мира сего желали узнать не только о своей личной судьбе, но и о судьбе своего государства в ближайшем и далеком будущем.
										p Именно советы предсказателей побуждали правителей решаться на смелые походы, казнить или миловать, определять новое местоположение будущей столицы и даже выбирать наследника престола. Магам и предсказателям доверяли, их уважали и даже боялись.
										p Как и тогда сильнейших, сегодня, на самом деле, не так много. На этом портале мы стараемся собрать самых проверенных, талантливых и надежных мастеров предсказания и магии.
										p Сегодня у нас есть уникальная возможность - приоткрыть завесу будущего, узнать правду о себе и близких, разобраться в прошлом, повлиять на свою судьбу и судьбу своих родных. Часто незнающие люди считают гадание грехом. Однако гадать - это грех только в одном случае - если человек забавы ради начинает не изучать судьбу, а забавляться с предсказателями и предсказаниями. Такие люди считают себя вправе тягаться с высшими силами.
										p Как определить настоящего мастера? Он говорит правду, которую слышать люди не всегда готовы. Правда не угождает никому, она такая какая есть, не желает подчиняться вашим желаниям и планам, никого не щадит.
										p Мастера используют большое разнообразие способов гадания, при этом, чаще всего, подсказывают самый лучший для вас выход из сложившейся ситуации.
										p Порой человек не сразу сам понимает суть предсказания, но уже спешит всему окружению рассказать о походе к мастеру, что негативно сказывается на самом обратившемся. Ведь благодаря гаданию только вы сможете повлиять на ситуацию и мастер дает вам этот шанс. Если предсказание перестанет быть секретом, шанс влиять на ход вашей жизни получают те, кто узнал от вас, что уготовил вам день грядущий.
										p Часто гадание может напугать, озадачить, выбить почву из под ног. Не нужно отчаиваться! Судьба свела вас с мастером именно для того, чтобы вы смогли заранее позаботиться о своей судьбе и скорректировать будущее!
							else 
								li(data-tab=`scope${i}` class="scope_items_body")
									.scope_item_title 
										h5=scopeTitle[i]
									.scope_item_content 
										p С древних времен люди пытались узнать, что их ждет в будущем. Предсказание и колдовство было не просто утехой обывателей. Великие правители имели придворных магов, медиумов, оракулов, предсказателей, астрологов. Сильные мира сего желали узнать не только о своей личной судьбе, но и о судьбе своего государства в ближайшем и далеком будущем.
										p Именно советы предсказателей побуждали правителей решаться на смелые походы, казнить или миловать, определять новое местоположение будущей столицы и даже выбирать наследника престола. Магам и предсказателям доверяли, их уважали и даже боялись.
										p Как и тогда сильнейших, сегодня, на самом деле, не так много. На этом портале мы стараемся собрать самых проверенных, талантливых и надежных мастеров предсказания и магии.
										p Сегодня у нас есть уникальная возможность - приоткрыть завесу будущего, узнать правду о себе и близких, разобраться в прошлом, повлиять на свою судьбу и судьбу своих родных. Часто незнающие люди считают гадание грехом. Однако гадать - это грех только в одном случае - если человек забавы ради начинает не изучать судьбу, а забавляться с предсказателями и предсказаниями. Такие люди считают себя вправе тягаться с высшими силами.
										p Как определить настоящего мастера? Он говорит правду, которую слышать люди не всегда готовы. Правда не угождает никому, она такая какая есть, не желает подчиняться вашим желаниям и планам, никого не щадит.
										p Мастера используют большое разнообразие способов гадания, при этом, чаще всего, подсказывают самый лучший для вас выход из сложившейся ситуации.
										p Порой человек не сразу сам понимает суть предсказания, но уже спешит всему окружению рассказать о походе к мастеру, что негативно сказывается на самом обратившемся. Ведь благодаря гаданию только вы сможете повлиять на ситуацию и мастер дает вам этот шанс. Если предсказание перестанет быть секретом, шанс влиять на ход вашей жизни получают те, кто узнал от вас, что уготовил вам день грядущий.
										p Часто гадание может напугать, озадачить, выбить почву из под ног. Не нужно отчаиваться! Судьба свела вас с мастером именно для того, чтобы вы смогли заранее позаботиться о своей судьбе и скорректировать будущее!
	section.about
		.about_bg 
			img(src="i/about_bg.png", alt="")
		.section_in 
			.about_main 
				.about_img 
					img(src="i/about.png", alt="")
				.about_content
					.about_title
						h6 о портале
					.about_content_txt 
						p Топ реальных магов - это портал самых проверенных мастеров предсказаний, магии и эзотерики. В современном обществе много людей со сверх способностями, мы отобрали для вас самых сильных! Наши мастера принимают лично и онлайн по всему мир.  В основном за помощью к нашим мастерам обращаются соотечественники из стран Европы и СНГ.  На страницы этого портала мастера попадают по рекомендациям и после тщательной проверки на соответствие заявленным способностям.
						p * Помните, что каждая ситуация уникальна, а значит результаты  индивидуальны и могут отличаться в каждом отдельном случае!
						p Все права защищены. Вся размещенная информация является собственностью портала "Топ реальных магов". Портал несет ответсвенность за вашу связь со специалистом, при этом результат вашего с ним сотрудничества не входит в сферу нашей ответственности. При копировании текстовой и графической информации с нашего информационного ресурса, вы обязаны указать сайт https://top-real-magic.ru в качестве источника взятой вами информации.
					.about_content_data 
						ul 
							li 
								a(href="#")
									.about_item_icon.btn_icons
										+icon('phone')
									p 8 982-749-49-98
							li 
								a(href="#") sms@top-real-magic.ru  
